
@use './abstracts/' as *;

.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1550px;
    max-width    : 100%;
}

.themes-container2 {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1520px;
    max-width    : 100%;
}

.themes-container3 {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1170px;
    max-width    : 100%;
}

.tf-section {
    padding: 120px 0;
    @include transition3;
}

/* button 
--------------------------------------------------*/
.sc-button {
    display      : inline-block;
    border       : 1px solid var(--primary-color3);
    color        : #fff;
    background-color: var(--primary-color3);
    box-sizing   : border-box;
    padding      : 18px 36px;
    border-radius: 5px;
    @include transition3;
    span {
        font-weight       : 500;
        font-size         : 16px;
        line-height       : 18px;
        position          : relative;
        @include transition3;
    }
    &:hover,
    &.active {
        border-color: transparent;
        outline: 0 none;
    }
}

.sc-button.btn-4:hover,
.sc-button.btn-3:hover,
.sc-button.btn-5 {
    background-color: #8E2AC3;
    border: 1px solid #8E2AC3;
}

.sc-button.btn-2 {
    background-color: transparent;
    border: 1px solid var(--primary-color6);
}

.sc-button span,
.sc-button.btn-7:hover span,
.is_dark .sc-button {
    color: #fff;
}

.is_dark .sc-button.btn-2:hover,
.sc-button.btn-5:hover,
.is_dark .sc-button.btn-1:hover,
.sc-button.fl-button:hover{
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
}
.sc-button.btn-3,
.sc-button.btn-5,
.sc-button.fl-button {
    box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
}

.sc-button.btn-2:hover {
    background-color: var(--primary-color3);
    border       : 1px solid var(--primary-color3);
}

.sc-button.btn-2:hover span {
    color: var(--primary-color);
}

.is_dark .sc-button.btn-2:hover span,
.sc-button.btn-5:hover span,
.sc-button.fl-button:hover span,
.sc-button.fl-button.active span {
    color: var(--primary-color3);
}

.sc-button.btn-2 span {
    color: var(--primary-color2);
}


.sc-button.btn-6 {
    background-color: #13051808;
    border: 1px solid #13051808;
}

.sc-button.btn-6.bt {
    background: #13051812;
    border: 1px solid #13051812;
}

.sc-button.btn-4 {
    background-color: #FFFFFF1A;
    border: 1px solid var(--primary-color6);
}

.is_dark .sc-button.btn-6 {
    background-color: #FFFFFF1A;
    border: 1px solid var(--primary-color6);
}

.sc-button.btn-6 span {
    color: var(--primary-color8);
}

.sc-button.btn-6:hover span {
    color: #fff;
}

.sc-button.btn-7:hover,
.sc-button.btn-6:hover {
    background-color: var(--primary-color3);
    border: 1px solid var(--primary-color3);
}

.sc-button.btn-7 {
    background:  var(--primary-color5);
    border: 1px solid var(--primary-color5);
}
  
.sc-button.btn-7 span {
    color: var(--primary-color4);
}

/* button style icon */

/* Page Title Inner
-------------------------------------------------------------- */
.flat-title-page {
    &.inner {
        padding: 310px 0 222px;
        position       : relative;
        background     : url(../images/backgroup-secsion/img_bg_page_title_inner.jpg) center center no-repeat;
        background-size: cover;
    }
}

.is_dark {
    .flat-title-page {
        &.slider,
        &.inner {
            background: linear-gradient(79.57deg, rgba(31, 17, 85, 0) 10.75%, #130518 50.17%, rgba(31, 17, 85, 0) 106.55%);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background-color: rgba(119, 89, 243, 0.1);
        }
    }
}

.page-title-heading .heading {
    line-height: 87px;
    color      : var(--primary-color2);
    margin-left: -3px;
}

.mark-page {
    top     : 0;
    right   : -6px;   
}

.mark-page2 {
    left    : 3.7%;
    bottom  : 38.3%;
    // animation: move4 5s infinite linear;
}

.mark-page3 {
    left: 38.8%;
    top: 22.6%;
    animation: move3 8s infinite linear;
}

.mark-page4 {
    z-index: 9;
    right: 9%;
    bottom: 24%;
    animation: move5 8s infinite linear;
}

.mark-page5 {
    top     : 10px;
    left   : 2px;   
}

.sc-btn-top .sc-button {
    padding: 18.5px 31.5px;
}

/* sc card article 
--------------------------------------------------*/
.sc-card-article {
    &.blog-article {
        background: #fff;
        border: 1px solid rgba(19, 5, 24, 0.07);
        box-sizing: border-box;
        padding           : 20px 19px 29px;
        border-radius     : 5px;
        margin-top    : 1.5px;
        margin-bottom    : -2px;
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition        : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            -webkit-transform: translateY(-5px);
            transform        : translateY(-5px);
            box-shadow: 1px -3px 16px rgb(47 83 109 / 12%);
        }
        &.style-article {
            &:hover {
                -webkit-transform: translateY(0px);
                transform        : translateY(0px);
                box-shadow: none;
            }
        } 
    }
}

.is_dark {
    .sc-card-article {
        &.blog-article {
            background: rgba(255, 255, 255, 0.03);
        }
    }
}

.sc-card-article {  
        .card-media{
            border-radius: 8px;
            overflow     : hidden;
            // margin-bottom: 20px;
            img {
                width             : 100%;
                object-fit        : cover;
                -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                transition        : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
        } 
        .post {
            padding: 27px 10px 0;
            .text-article {
                margin-bottom: 17px;
                h3 {
                    text-transform: capitalize;
                    margin-bottom : 18px;
                }
            }
        }        
}

.meta-info {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    .author {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        
        .avatar {
            width        : 35px;
            height       : 35px;
            border-radius: 50%;
            margin-right : 8.5px;
            position: relative;
            flex-shrink  : 0;  
            img {
                border-radius: 50%; 
            }
            &::before {
                border-radius: 50%;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px; 
                display: inline-block;
                border-top: 1px solid transparent;
                border-left: 1px solid #130518;
                border-right: 1px solid #130518;
                border-bottom: 1px solid #130518;
                transform: rotate(45deg);     
            }
            // countdown home 01
            .check {
                position: absolute;
                bottom: 5px;
                right: -6px;
            }               
        }
        .info {
            h5 {
                line-height: 20px;
                margin-top: 1px;
                color      : var(--primary-color4);
                font-family: 'Open Sans';
                font-weight: 600;
            }
            .date {
                color      : var(--primary-color4);
                font-size  : 13px;
                line-height: 20px;
                font-weight: 500;
                span {
                    color  : var(--primary-color8);
                }
            }
        }
    }
} 

.is_dark .meta-info .author .info .date span {
    font-weight: 400;
}
.meta-info.style .author .avatar::before,
.is_dark .meta-info .author .avatar::before {
    display: none;
}

/* help */
.flat-help {
    background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
    padding-top: 120px;
    .title-help {
        padding: 0 38.5px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 70px;
            left: 0;
            top: 3px;
            background-color:  var(--primary-color3);
            border-radius: 5px;
        }
        h2 {
            line-height: 38.7px;
            margin-top: -3px;
        }
    }
    .help-row {
        padding-bottom: 56px; 
        border-bottom: 1px solid var(--primary-color6);
        position: relative;
    }
}

.flat-help {
    &.home2 {
        background : unset;
        padding-top: 0px;
        .style-container {
            padding-top: 59px;
            padding-bottom: 55px;
            border-radius: 10px;
            background: linear-gradient(79.57deg, rgba(102, 38, 124, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
        }
        .title-help {
            margin-left: 35px;
        }
        .widget-subcribe {
            padding-right: 35px;
            margin-left: -2px;
        }
    }
}

.flat-help {
    &.home3 {
        .style-container {
            border: 1px solid var(--primary-color6);
            background: unset;
        }
    }
}


/* swiper button */
.swiper-button-next.btn-slide-next::after {
    content: "\f178";
}

 .swiper-button-prev.btn-slide-prev::after {
    content: "\f177";
}

.seller.style2 .swiper-button-prev.btn-slide-prev.active::after,
.seller.style2 .swiper-button-next.btn-slide-next.active::after,
.seller.style2 .swiper-button-prev.btn-slide-prev:hover:after,
.seller.style2 .swiper-button-next.btn-slide-next:hover:after{
    color: #fff;
}
.seller.style2 .swiper-button-prev.btn-slide-prev.active,
.seller.style2 .swiper-button-next.btn-slide-next.active,
.seller.style2 .swiper-button-next.btn-slide-next:hover,
.seller.style2 .swiper-button-prev.btn-slide-prev:hover{
    background: var(--primary-color3);
    border: 1px solid var(--primary-color3);
}

.is_dark .seller.style2 .swiper-button-prev.btn-slide-prev.active,
.is_dark .seller.style2 .swiper-button-next.btn-slide-next.active,
.is_dark .seller.style2 .swiper-button-next.btn-slide-next:hover,
.is_dark .seller.style2 .swiper-button-prev.btn-slide-prev:hover {
    background: var(--primary-color3);
    border-color: var(--primary-color3);
}

.swiper-button-prev.btn-slide-prev.active::after,
.swiper-button-next.btn-slide-next.active::after,
.swiper-button-prev.btn-slide-prev:hover:after,
 .swiper-button-next.btn-slide-next:hover:after{
    color: #fff;
}

.seller.style2 .swiper-button-next.btn-slide-next,
.seller.style2 .swiper-button-prev.btn-slide-prev{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
    -webkit-transition: all 0.3s ease-in-out;
    background: #fff;
    border: 1px solid #13051812;
}

.is_dark .seller.style2 .swiper-button-next.btn-slide-next ,
.is_dark .seller.style2 .swiper-button-prev.btn-slide-prev {
    background: #FFFFFF08;
    border-color:  #FFFFFF33;
}

.seller.style2 .swiper-button-next.btn-slide-next::after, 
.seller.style2 .swiper-button-prev.btn-slide-prev::after {
    font-family: "Font Awesome 5 Pro";
    color: var(--primary-color3);
    font-weight: 300;
    font-size: 28px;
    opacity: 1;
}

.is_dark .seller.style2 .swiper-button-next.btn-slide-next:after ,
.is_dark .seller.style2 .swiper-button-prev.btn-slide-prev:after {
    // color: #FFFFFF33;
    color: #fff;
}

.seller.style2 .swiper-button-next.btn-slide-next {
    right: 0px;
    top: 98%;
}

.seller.style2 .swiper-button-prev.btn-slide-prev {
    right: 100px;
    top: 98%;
    left: auto;
}

.flat-auctions.seller.style2 .swiper-button-next.btn-slide-next {
    right: 15px;
}
.flat-auctions.seller.style2 .swiper-button-prev.btn-slide-prev {
    right: 115px; 
}

.flat-auctions.seller.style2 .swiper-button-prev.btn-slide-prev,
.flat-auctions.seller.style2 .swiper-button-next.btn-slide-next {
    top: 22px;  
}

.flat-collection.seller.style2 .swiper-button-next.btn-slide-next,
.flat-collection.seller.style2 .swiper-button-prev.btn-slide-prev {
    top: 25px;
}

.slider-style {
    margin-bottom: 30px;
}

// slider home 01
.slider {
    .mark-page2 {
        bottom: 0;
        top   : 28.1%;
    }
    .mark-page3 {
        top: 12.6%
    }
    .mark-page4 {
        right: 8.7%;
        bottom: 22.1%;
    }
    .mark-page8 {
        bottom: 6.6%;
        left: 1.4%;
    }
    .mark-page9 {
        bottom: 0;
        left: 0;
    }
    .mark-slider-01 {
        margin-left: 39px;
    }
    .mark-slider-02 {
        top: 29.5%;
        right: 50.5%;
        z-index: -1;
    }
    .img-slider {
        border: 3px dashed var(--primary-color6);
        box-sizing: border-box;
        border-radius: 10px;
        // transform: matrix(-1, 0, 0, 1, 0, 0);
        margin-top: 57px;
        padding: 17px 16px 27px;
        z-index: 0;
        .bg-color {
            background: #fff;
            padding:  36px;
            border-radius: 10px; 
            margin-top   : -62px;
        }
        .box-img {
            padding: 0 10px;
            .img-1 {
                margin-right: 5px;  
            }
            .img-2 {
                margin-left: 5px;  
            }
            img {
                border-radius: 10px; 
            }
        }  
    }
}

.slider {
    cursor:e-resize;
    position: relative;
    overflow: hidden;
    background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
    padding: 101px 0 284px;
    .wrap-heading {
        .content {
            width: 50.9%;
            margin-top: 22.8%;
            padding-left: 12.05%;
            h1 {
                text-transform: capitalize;
                line-height: 87px;
                margin-bottom: 7px;
                color: #7759F3;
                .s1 {
                    background: linear-gradient(91.5deg, #7759F3 41.52%, #8E2AC3 96.58%);
                    // color: #130518;
                    color:  var(--primary-color);
                    background-size: 200% 200%;
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 3px transparent; 
                }
                .s2 {
                    text-transform: none;   
                    position: relative;
                    box-sizing: border-box;
                    margin-left: -1px;
                    background: #edeaf6;
                    background-clip: padding-box; 
                    border: solid 2x transparent; 
                    border-radius: 1em;
                    display: inline-table;
                    line-height: 54px;
                    padding-bottom: 6px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                        z-index: -1;
                        margin: -2px; /* !importanté */
                        border-radius: inherit; /* !importanté */ 
                        background: linear-gradient(180deg, #7759F3 0%, #3AFCC2 100%);
                    }
                }
            }
            p {
                font-size: 18px;
                font-family: "Inter", sans-serif;
                text-transform: capitalize;
                margin-left: 3px;
                margin-bottom: 41px;
            }
            .sc-button {              
                &.style-1 {
                    margin-left: 3px;
                    margin-right: 18px;
                    padding: 19px 24px;
                }
                &.style-2 {
                    padding: 19px 29px;
                
                }
            }
        }
    }
}

.is_dark {
    .slider {
        .wrap-heading {
            .content {
                h1 {
                    color: #fff;
                    .s2 {
                        background: #130518;
                    }
                }
            }
        }
    }
}

// slider home 02
.slider {
    &.style-home2 {
        overflow: unset;
        padding: 139px 0 119px;
        .flat-wrap {
            padding: 27px;
            border: 3px dashed rgba(255, 255, 255, 0.07);
            border-radius: 10px;
            z-index: 5;
            .wrap-heading  {
                background-color: #AAADEC;
                border-radius: 10px;
                .content {
                    width: 49.85%;
                    margin-top: 9.5%;
                    padding-left: 9.7%; 
                    margin-bottom: 9.5%;  
                    position: relative;
                    z-index: 99999;
                    h1 {
                        color: #fff;
                        .s1 {
                            background: unset;
                            color: var(--primary-color3);
                        }
                        .s2 {
                            background: #AAADEC;
                        }   
                    }
                    .sc-button {   
                        z-index: 99999;             
                        &.style-1 {
                            margin-left: 3px;
                            margin-right: 18px;
                            padding: 19px 24px;
                        }
                        &.style-2 {
                            padding: 19px 29px;
                        }
                    }          
                } 
                .image {
                    margin-top: 2.5%;
                }
            }
        }   
    }
}

.slider {
    &.style-home2 {
        .mark-page8 {
            bottom: -17.5%;
            left: 0.8%;
        }
        .mark-page2 {
            top: 34.5%;
            left: 8%;
            z-index: 9;
        }
        .mark-page3 {
            left: 37.9%;
            top: 23%;
            z-index: 9;
        }
        .mark-page4 {
            bottom: 9.5%;
        }
        .mark-page5 {
            z-index: 2;
        }
        .mark-page9 {
            bottom: -5%;
        }
        .mark-slider-02 {  
            top: 15%;
            right: 7.7%;
            z-index: 1;
        }
    }
}

// slider home 03
.slider {
    &.style-home3 {
        .flat-wrap {
            padding: unset;
            border: unset;
            .wrap-heading  {
                background-color: unset;
                .content {
                    width: 47%;
                    margin-top: 11.1%;
                    padding-left: 11.3%; 
                    h1 {
                        color: #000;
                        .s2 {
                            background: #fff;
                        }
                    }
                }
                .img-slider {
                    margin-top: 0;
                    padding: 30px 30px 30px 47px;
                    border: unset;
                    .box-img {
                        background: #D9D1FA;
                        padding: 0 11px 0 31px;
                        margin-top: 0;
                        border-radius: 10px;  
                        position: relative;
                        .image {
                        margin-top: 0;
                            img {
                                margin-top: -13%;
                                margin-bottom: -11.9%;
                            }
                        } 
                        &::before {
                            content: "";
                            width: calc(100% + 80px);
                            height: calc(100% + 64px);
                            border: 3px dashed rgba(119, 89, 243, 0.16);
                            position: absolute;
                            top: 50%;
                            left: 48.5%;
                            transform: translate(-50%, -50%);
                        }                    
                    }
                }  
            }
        }
        .mark-page8 {
            bottom: -13%;
            left: -5.2%;
        }
    }
}
.is_dark {
    .slider {
        &.style-home3 {
            .flat-wrap {
                .wrap-heading  {
                    .content {
                        h1 {
                            color: #fff;
                            .s2 {
                                background: #0E1B3E;
                            }
                        }
                    }
                    .img-slider {
                        .box-img {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}


/* animation slider */
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    transform: translateY(400px);
}

.mainslider.home .image{
    transform: translateX(400px);
}
.mainslider.home .image,
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    opacity: 0;
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
    -moz-transition   : transform 1000ms ease, opacity 1000ms ease;
    -ms-transition    : transform 1000ms ease, opacity 1000ms ease;
    -o-transition     : transform 1000ms ease, opacity 1000ms ease;
    transition        : transform 1000ms ease, opacity 1000ms ease;
    transition-delay  : 1000ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    transform: translateY(0) !important;
}

.mainslider.home .swiper-slide-active .image{
    transform: translateX(0px);
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .heading {
    transition-delay: 700ms !important;
}

.swiper-slide-active .flat-slider .sub-heading {
    transition-delay: 900ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider {
    transition-delay: 1100ms;
}

/* Blog Page
-------------------------------------------------------------- */

.flat-blog-details {
    .post {
        .media {
            &.style {
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(19, 5, 24, 0.07);
                box-sizing: border-box;
                padding: 20.8px 20px;
                border-radius: 5px;
                margin-bottom: 20px;
            }
        }
    }
}

.flat-blog-details {
    .post {
        h2 {
            font-weight: 500;
            margin-bottom: 16px;
        }
        .sc-card-article {
            margin-bottom: 40px;
            padding-bottom: 29px;
            border-bottom: 1px solid var(--primary-color6);
        }
        .text {
            margin-bottom: 40px;
        }
        .img-box {
            padding-left: 2px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 38px;
            ul {
                display: flex;
                margin-bottom: 29px;
                margin-top: -1px;
                &:last-child {
                    margin-bottom: 0;
                }
                li {
                    img {
                        margin-right: 19.5px;
                    }
                    h3 {
                        font-weight: 600;
                    }
                }
            }
        }
        .post-image {
            display         : flex;
            margin-bottom   : 42.2px;
            background-color: var(--primary-color5) ;
            padding         : 44px 0 37px 0;
            border-radius   : 5px;
            border: 1px solid  var(--primary-color6);
            .thumb {
                width        : 28.3%;
                padding-left: 49px;
                padding-top: 9px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 90px;
                    left: 0;
                    top: 5px;
                    background-color: var(--primary-color3);
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }          
            }
            .title-author {
                margin-bottom: 17px;
                margin-left  : 2px;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
            }
        }
        .text-1 {
            margin-bottom: 36px;
        }
        .text-boder {
            border-bottom: 1px solid var(--primary-color6);
            padding-bottom: 19px;
            margin-bottom: 30px;
        }
        .infor-row {
            justify-content: space-between;
            margin-bottom  : 46px;
            .tags {
                h4 {                 
                    margin-right: 19.5px;
                    margin-left: 0.5px;
                    font-weight: 600;   
                    align-self: center;             
                }
                div {
                    a {
                        padding         : 14px 18px 12px;
                        border-radius   : 5px;                      
                        font-size       : 12px;
                        font-weight     : 400;
                        margin-right    : 24px;
                        background-color: var(--primary-color5);
                        color           : var(--primary-color4);
                        border: 1px solid var(--primary-color6);
                        &.active,
                        &:hover {
                            background-color: var(--primary-color3);
                            color           : #fff;
                        }
                    }
                }
            }
        }
    }
}


#comments {
    .title-comment {
        margin-left: -1px;
        margin-bottom: 19px;
    }
    .comment-list {
        margin-bottom: 42px;
        .comment-avatar {
            width: 29%;
            padding-top: 3px;
        }
        .comment-content {
            .comment-text {
                border-bottom: 1px solid var(--primary-color6);
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .comment-icon {
                font-size: 14px;
                font-weight: 400; 
                .icon-one {
                    margin-right: 42px ;
                    &::before {
                        content: '\f3e5';
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 700;
                        margin-right: 6px;
                        margin-left: 2px;
                        font-size: 14px;
                    }
                }
                .icon-two {
                    &::before {
                        content: '\f004';
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 700;
                        margin-right: 6px;
                        margin-left: 2px;
                        font-size: 14px;
                    }
                }   
            }
        }
    }
    .title-comment2 {
        margin-bottom: 21px;
    }
    .comment-form {
        fieldset {
            position     : relative;
            overflow     : hidden;
            width        : 100%;
            margin-bottom: 11px;
            &.name,
            &.email {
                float: left;
                width: 50%;
            }
            &.email {
                padding-left: 10px;
            }
            &.name {
                padding-right: 10px;
            }          
        }
        .style-text {
            width: 50%;
            float: left;
        }
        .phone-wrap,
        .name-wrap {
            padding-right: 15px;
        }
        .email-wrap,
        .site-wrap {
            padding-left: 15px;
        } 
        textarea  {
            padding: 7px 19px 17px ;
        }
        .text-call {
            text-transform: capitalize;
            margin-top: 21px;
            margin-bottom: 50px; 
            padding-right: 200px; 
            &::before {
                content: '*';
                color: #B14233;
                margin-left: 1px;
            }
        }
    }
}

// flat cetagories
 .flat-cetagories {
    &.style {
        padding-bottom: 89px;
    }
    .wrap-cetagories {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-wrap: wrap;
        margin-left: -30px;
        .cetagories {
            background: linear-gradient(80.47deg, rgba(19, 5, 24, 0.07) 2.16%, rgba(119, 89, 243, 0.1) 46.32%, rgba(19, 5, 24, 0.07) 97.43%);
            border-radius: 5px;
            width: calc(20% - 30px);
            margin-left: 30px;
            padding: 20px 27px 20px 30px;
            justify-content: space-between;
            margin-bottom: 30px;
            transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
            img {
                filter: brightness(0.9);
                // filter: drop-shadow(0px 0px 4px black);
            }
            
            &:hover {
                transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
                background:  var(--primary-color3);
                a,
                p {
                    color: #fff;
                    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
                }
                img {
                    filter: drop-shadow(0px 0px 7px white);
                    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
            .content {
               padding: 22px 0 0 0;
                h3 {
                    margin-bottom: 2px;
                    font-weight: 400;
                }
            }
        }
        .cetagories-button {
            margin: 34px 0 0 96px;
           
        }
    }
}

.is_dark {
    .wrap-cetagories {
        .cetagories {
            background: linear-gradient(80.47deg, rgba(255, 255, 255, 0.07) 2.16%, rgba(119, 89, 243, 0.1) 46.32%, rgba(255, 255, 255, 0.07) 97.43%);
            img {
                filter: unset;
            }
        }
    }

}

// flat cetagories home 2
.flat-cetagories2 {
    &.home2 {
        padding-bottom: 100px;
        background: #7759F312;
        .wrap-cetagories {
            .img-cetagories {
                border-right: 5px solid #fff;
                border-bottom: 5px solid #fff;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 8px;
                border-top-right-radius: 15px;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                img {
                    border-radius: 6px;
                    width: 100%;
                }  
            }
            .content {
                padding: 19px 0px 10px;
                .icon-cetagories {
                    margin-right: 15px;
                    margin-top: 9px;
                }
                h3 {
                    margin-bottom: 2px;
                    text-transform: capitalize;
                }
            }
            &:hover {
                .img-cetagories {
                    border-right: 5px solid var(--primary-color3);
                    border-bottom: 5px solid var(--primary-color3); 
                    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        } 
    }
}

.is_dark {
    .flat-cetagories2 {
        &.home2 {
            .wrap-cetagories {
                .img-cetagories {
                    border-right: 5px solid #FFFFFF12;
                    border-bottom: 5px solid #FFFFFF12;
                }
                &:hover {
                    .img-cetagories {
                        border-right: 5px solid var(--primary-color3);
                        border-bottom: 5px solid var(--primary-color3); 
                        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }
            }
        }
    }
}

.flat-cetagories2 {
    &.home3 {
        background: unset;
        padding: 0;
        .style-container {
            background: var(--primary-color5);
            border: 1px solid var(--primary-color6);
            padding: 119px 0 100px;
            border-radius: 10px;
        }
    }
}

.sc-btn-button {
    .sc-button {
        padding: 19px 22px;
    }
}

// flat auctions
.flat-auctions {
    .sc-card-product {
        border: 1px solid  var(--primary-color6);
        padding: 19px 19px 0px;
        margin: 0;
        text-transform: capitalize;
        position: relative;
        .content {
            padding: 28px 10px ;
            .tags {
                position: absolute;
                top: 29px;
                left: 29px;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                padding: 9px 8px;
                background-color: var(--primary-color3);
                color: #fff;
                transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
            }
            h3 {
                margin-bottom: 25px;             
            }
            .meta-price {
                border-bottom: 1px solid  var(--primary-color6);
                padding-bottom: 20px;
                margin-bottom: 19px;
                .price {
                    align-items: center;
                    img {
                        margin-right: 6px;
                    }               
                    .title-price {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
                .button-place-bid {
                    .sc-button {
                        padding: 5px 14px;
                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
            .featured-countdown {
                .title-countdown {
                    margin-right: 5px;
                    color: var(--primary-color4);
                }
                .js-countdown {
                    color: var(--primary-color3);
                    .countdown__label {
                        margin: 0 4.3px;
                    }
                }

             }
        }     
    }  
}

// flat top seller
.flat-top-seller {
    background: #7759F312;
    padding-bottom: 117px;
    padding-top: 110px;
    .wrap-seller {
        background: var(--primary-color7);
        border: 1px solid var(--primary-color6);
        padding: 29px 0 29px ;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        .img-box {
            margin-bottom: 18px; 
            position: relative;
            width: 110px;
            height: 110px;
            margin-left: auto;
            margin-right: auto;
            &::before {
                border-radius: 50%;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 110px;
                height: 110px; 
                display: inline-block;
                border-top: 3px solid transparent;
                border-left: 3px solid var(--primary-color3);
                border-right: 3px solid var(--primary-color3);
                border-bottom: 3px solid var(--primary-color3);
                transform: rotate(45deg);     
            }
            .img-author img {
                border-radius: 50%;  
                position: relative;
            }
            .check {
                position: absolute;
                bottom: 5.5px;
                right: 8px;
                z-index: 9;
            }
        }
        .content {
            h3 {
                margin-bottom: 13px;
            }
            .price {
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                img {
                    margin-right: 7px;
                }
            }
            .button-follow {
                a {
                    padding: 9.5px 34px;
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
        &:hover {
            .img-box {
                &::before {
                    opacity: 1;
                    z-index: 9;
                    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        }
    }
}

.flat-top-seller {
    &.home2 {
        padding: 0;
        background: unset;
        .style-container {
            background: rgba(119, 89, 243, 0.07);
            border-radius: 10px;
            padding-top: 178px;
            padding-bottom: 118px;
        }
        .wrap-seller {
            padding: 0 0 29px 18%;
            .img-box {
                margin-top: -61px;
                margin-left: 0;
                margin-right: 0;
            }
            .content {
                .price {
                    justify-content: unset;
                }
            }
        }
    }
}

.is_dark {
    &.home2 {
        .style-container {
            background: linear-gradient(79.57deg, #1B133C 10.75%, #130518 45.18%, #0E1B3E 106.55%);
        }
    }
}

.flat-top-seller {
    &.home3 {
        background: unset;
        padding: 0;
        .style-container {
            padding: 110px 0 117px;
            background: var(--primary-color5);
            border: 1px solid var(--primary-color6); 
            border-radius: 10px; 
        }
    }
}

// flat explore
.flat-explore {
    .sc-card-product {
        margin-bottom: 30px;
        .content {
            .meta-price {
                padding: 0;
                margin: 0 0 2px 0;
                border: 0;
            }
        }
    }   
}

.flat-explore {
    &.home2 {
        padding-bottom: 0;
    }
}

// flat friendly
.flat-friendly {
    .wrap-friendly {
        background: url(./../../assets/images/backgroup-secsion/bg-friendly.jpg) center center no-repeat;
        border-radius: 5px;
        background-size: cover;
    }
        .box-img {
            margin: 13px 0 0px -3px;
        }
        ul {
            padding: 120px 0 113px;
            li {
                text-align: center;
                max-width: 18.1%;
                margin-right: 122px;
                width: 100%;
                position: relative;
                // &:nth-child(3)
                &:last-child {
                    margin: 0;
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -131px;
                    top: -19px;
                    width: 150px;
                    height: 90px;
                    background: url(./../../assets/images/icon/right.png) ;
                    background-repeat: no-repeat;
                    z-index: 999;
                }
                img {
                    margin-bottom: 25px;
                    transition: all 0.8s ease;
                }
                &:hover {
                    img {
                        transform: rotateY(180deg);
                    }
                }
                .title-friendly {
                    font-size: 24;
                }
            }
        }
    
}

.flat-friendly {
    &.home2 {
        .wrap-friendly {
            background: url(./../../assets/images/backgroup-secsion/bg-user-friendly.jpg) center center no-repeat;
            background-size: cover;
        }
            .box-img {
                top: 13px;
                right: 0px;
                margin: 0;
            }
            ul {
                padding: 120px 0 113px 39px;
                li {
                    max-width: 22%;
                }
            }
            .img {
                top: 7px;
                right: 10px;
            }
        }
}

.flat-friendly {
    &.home3 {
        ul {
            border-bottom: 1px solid var(--primary-color6) ;
            padding: 120px 0 51px 46px;
            li {
                max-width: 15.85%;
                &::after {
                    filter: invert(1);
                }
            }
            .style {
                &::after {
                    transform: rotateX(180deg);
                    top:0;
                }
            }
        }
    }
}

.is_dark {
    .flat-friendly {
        &.home3 {
            ul {
                li {
                    &::after {
                        filter: unset;
                    }
                }
            }
        }
    }
}
// flat collection
.flat-collection {
    padding: 100px 0 0;
    .img-item-1 {
        width: 100%;
        margin-right: 20px;
    }
    .img-item-2 {
        width: 34.5%;
        img {
            margin-bottom: 11px;
            &:last-child {
                margin: 0;
            }
        }
    }
    .post {
        padding: 28px 10px 0;
        .text-article {
            margin-bottom: 25px;
        }
        .item-nft {
            .img-nft {
                margin-right: 4px;
                margin-top: -1px;
            }
        }
    }
}

.flat-collection {
    &.home2 {
        padding: 0 0 120px;
    }
}

.flat-collection {
    &.home3 {
        padding: 117px 0 119px;
    }
}

// flat brand 
.flat-brand {
    padding: 95px 0 97px;
    .brand-slider {
        padding: 0px 22px 0 37px;
        .slogan-logo {
            filter: contrast(0.4);
            &:hover {
                filter: none;
            }
        }
    }   
}

.flat-brand {
    &.home2 {
        padding: 67px 0 97px;
    }
}

// flat featured
.flat-featured {
    padding-bottom: 87px;
    .wrap-featured {
        .box-img {
            background: linear-gradient(180deg, rgba(95, 58, 252, 0.07) 0%, rgba(19, 5, 24, 0.07) 100%);
            padding: 15px;
            border-radius: 50%;
            width: 100px;
            margin: 0 auto; 
            img {
                transition: all 0.8s ease;
            }  
        }
        .content {
            padding: 31px 48px 20px 49px;
            h3 {
                margin-bottom: 20px;
            }
        }
        &:hover {
            img {
                transform: rotateY(360deg);
            }
        }
    }
}

.is_dark {
    .flat-featured {
        padding-bottom: 87px;
        .wrap-featured {
            .box-img {
                background: linear-gradient(180deg, rgba(95, 58, 252, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
            }
        }
    }
}

.flat-featured {
    &.home3 {
        padding: 90px 0;
        .wrap-featured {
            .box-img {
                border: 1px dashed rgba(19, 5, 24, 0.17);
                background: unset;
            }
        }
    }
}

.is_dark {
    .flat-featured {
        &.home3 {
            .wrap-featured {
                .box-img {
                    border: 1px dashed rgba(255, 255, 255, 0.17);
                }
            }
        }
    }
}

// /* switch mode */

.mode_switcher {
    display: flex;
    position: absolute;
    top: 21px;
    right: 11px;
    justify-content: center;
    align-items: center;
  }

  .mode_switcher h6{
      line-height: 1.2;
      width: 85px;
      text-align: center;
      color: #fff;
  }

  .mode_switcher h6 strong{
    font-size: 18px;
    font-weight: bold;
  }
  
  .mode_switcher a {
    background: #343444;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mode_switcher a.is_active {
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
  }
  
  .mode_switcher a i {
    margin-right: 5px;
  }
  
//   .is__dark {
//     background: #0b1b27;
//   }



